numpy==1.26.4
scipy==1.15.3
opencv-python==4.11.0
open3d==0.19.0
ultralytics==8.4.95
torch==2.6.0
torchvision==0.21.0
transformers==5.14.1
pillow==12.3.0
pymodbus==2.5.3
flask==3.1.3
websockets==16.1
pyaudio==0.2.14
sounddevice==0.5.5
python-dotenv
langchain==0.3.27
langchain-openai
openai==1.98.0
